## Soal UTS

In [2]:

# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

The next few cells will show some examples on how to interact with our functions. Note that some of these function calls could be useful for you in completing the tasks below.

## Task 1

Please get the list of all Companies and sort by **Company Name** in reverse order.

Expected result:


```json
[{
    "name": "Company 3"
}, {
    "name": "Company 2"
}, {
    "name": "Company 1"
}]
```

In [44]:
#get list company & reverse data name or membalikan data

getListCompany = [{'name': company['name']} for company in company_detail_list]
getListCompany.reverse();
print(getListCompany)

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

## Soal 2

Please print all Domain value in every company (use print statement).

Expected return:

```
    Company 1: Retail (United States)
    Company 2: Technology (United Kingdom)
    Company 3: Healthcare (United States)
```

In [45]:
##Loop print

for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

## Task 3

List all Employees work By company domain.

Expected return:

```json
{
    "Retail": [
         "John Doe",
         "Robert White",
         "Ying Han Tan"
     ],
    "Technology":[
          "Tom Smith",
          "Rubby Lee",
     ],
    "Healthcare": [
         "Kenneth Ng",
         "Andrew Sebastian"
     ],
}
```

In [46]:
# Buat map domain
company_domain_map = {}
for company in company_detail_list:
    company_domain_map[company['name']] = company['domain']

employees_by_domain = {}
for employee in employee_detail_list:
    # get domain company
    domain = company_domain_map[employee['company']]
    
    if domain not in employees_by_domain:
        employees_by_domain[domain] = []
    
    # add full name to list
    employees_by_domain[domain].append(employee['full_name'])

print(employees_by_domain)

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

## Task 4

Create a function that return employees with it's company country.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "country": "United States"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "country": "United Kingdom"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 3",
    "country": "United Kingdom"
},  {
    "full_name": "Ying Han Tan",
    "company": "Company 1",
    "country": "United States"
},  {
    "full_name": "Kenneth Ng",
    "company": "Company 3",
    "country": "United States"
},  {
    "full_name": "Rubby Lee",
    "company": "Company 2",
    "country": "United Kingdom"
},   {
    "full_name": "Robert White",
    "company": "Company 1",
    "country": "United States"
},
    
]
```

In [63]:
def get_employees_with_country(employees, companies):
    # Buat peta negara berdasarkan perusahaan
    company_country_map = {company['name']: company['country'] for company in companies}
    
    # Daftar untuk menyimpan hasil
    result = []
    
    # Loop setiap karyawan untuk mendapatkan informasi
    for employee in employees:
        country = company_country_map[employee['company']]
        result.append({
            "full_name": employee['full_name'],
            "company": employee['company'],
            "country": country
        })
    
    return result

# Panggil fungsi dan tampilkan hasilnya
employees_with_country = get_employees_with_country(employee_detail_list, company_detail_list)
print(employees_with_country)

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}]

## Task 5

Create a function that return companies with a number of employees nationality that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employee_nationality": {
        "Australia": 2,
        "Hong Kong": 1
    }
}, {
    "company": "Company 2",
    "employee_nationality": {
        "Hong Kong": 1,
        "United States": 1
    }
}, {
    "company": "Company 3",
    "employee_nationality": {
        "United States": 2
    }
}]
```

In [76]:
def get_employee_nationality_by_company(employees):
    company_nationality_map = {}
    
    for employee in employees:
        company = employee['company']
        nationality = employee['nationality']
        
        # Jika perusahaan belum ada dalam mapping, buat entri baru
        if company not in company_nationality_map:
            company_nationality_map[company] = {}
        
        # Jika kewarganegaraan belum ada, setel ke 0
        if nationality not in company_nationality_map[company]:
            company_nationality_map[company][nationality] = 0
        
        # Tambahkan jumlah karyawan untuk kewarganegaraan
        company_nationality_map[company][nationality] += 1
    
    result = []
    for company, nationalities in company_nationality_map.items():
        result.append({
            "company": company,
            "employee_nationality": nationalities
        })
    
    return result

# Panggil fungsi dan tampilkan hasilnya
employee_nationality_by_company = get_employee_nationality_by_company(employee_detail_list)
print(employee_nationality_by_company)

[{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}, {'company': 'Company 2', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}, {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]